@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
}

body p {
    font-size: 1.2rem;
}

#contact a { 
    text-decoration: none;
}

.caixa { 
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

textarea {
    resize: none;
}

footer p{
    font-size: 1rem;
}
