@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
}

body p {
    font-size: 1.2rem;
}

#contact a { 
    text-decoration: none;
}

.caixa { 
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

textarea {
    resize: none;
}

footer p{
    font-size: 1rem;
}
.card-body {
    width: 50%;
}

/*Media Queries*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .display-4 { 
        font-size: 2rem;
    }
    #inicio img { 
        width: 100%;
    }
    .card-body {
        font-size: 1rem;
        width: auto;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .display-4 { 
        font-size: 2rem;
    }
    #inicio img { 
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {   
    .display-4 { 
        font-size: 1rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}
